services:
  omni-tools:
    image: iib0011/omni-tools:latest
    container_name: omni-tools
    restart: always
    ports:
      - "${PANEL_APP_PORT_HTTP}:80"
    networks:
      - 1panel-network
    labels:
      createdBy: "Apps"

networks:
  1panel-network:
    external: true